@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-white: #fff;
    --color-blue: #020223;
    --color-blue-light: rgba(2, 2, 35, 0.85);
    --color-black-light: rgba(0, 0, 0, 0.85);
}

/* Preloader */
@keyframes music-first{
    0% {
        height: 20px;
    }
    100% {
        height: 70px;
    }
}
@keyframes music-sec{
    0% {
        height: 20px;
    }
    100% {
        height: 90px;
    }
}
@keyframes music-third{
    0% {
        height: 20px;
    }
    100% {
        height: 100px;
    }
}
@keyframes blink{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pre-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue-light);
    z-index: 50;
    transition: all 1.8s ease;
}

.pre-overlay.o-1 {
    left: 0;
    top: 0;
}

.pre-overlay.o-2 {
    right: 0;
    bottom: 0;
}

#preloader {
    display: flex;
    position: fixed;
    z-index: 100;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#preloader p {
    font-size: 20px;
    color: var(--color-white);
    margin: 25px auto auto auto;
    text-transform: uppercase;
    text-align: center;
}

#preloader.animation p {
    animation-name: blink;
    animation-duration: .85s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

#preloader .decor {
    width: 30px;
    height: 100px;
    margin: auto auto 0 auto;
    position: relative;
}

#preloader .decor .bar {
    height: 100px;
    background-color: var(--color-white);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

#preloader.animation .decor .bar {
    animation-name: music-sec;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    max-height: 90px;
}

#preloader .decor::before {
    display: block;
    content: "";
    width: 30px;
    height: 70px;
    position: absolute;
    left: -45px;
    bottom: 0px;
    background-color: var(--color-white);
}

#preloader.animation .decor::before {
    animation-name: music-first;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

#preloader .decor::after {
    display: block;
    content: "";
    width: 30px;
    height: 70px;
    background-color: var(--color-white);
    left: 45px;
    bottom:  0;
    position: absolute;
}

#preloader.animation .decor::after {
    animation-name: music-third;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

#preloader.over {
    display: none;
}


body {
    background-image: url('/storage/images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.search {
    color: var(--color-white);
}

.search-button {
    border-radius: 0 4px 4px 0;
}

.search-button:hover {
    color: var(--color-blue);
}

.search::placeholder {
        color: var(--color-white)
    }

.modal {
    background-color: var(--color-blue);
    display: none;
    opacity: 0;
    width: 100%;
    height: 700px;
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    margin-inline: auto;
    left: 0;
    right: 0;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.modal.modal-visible {
    display:block;
    overflow: visible;
    opacity: 1;
}

.close {
    background-color: var(--color-white);
    display: flex;
    width: 25px;
    height: 25px;
    z-index: 1;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.close:hover {
    background-color: transparent;
    color: var(--color-white)
}

.promoter-wrapper {
    background-color: var(--color-blue);
    color: var(--color-white);
    /* max-width: 1508px; */
    margin-inline: auto;
    max-height: 75vh;
    overflow: auto;
}

.venue-wrapper,
.promoter-wrapper,
.suggestion-wrapper,
.other-wrapper {
    background-color: var(--color-black-light);
}

.promoter-wrapper .wrapper,
.venue-wrapper .wrapper {
    grid-template-columns: auto 400px;
    grid-template-rows: 1fr;
}

.wrapper-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.promoter-logo,
.other-logo {
    aspect-ratio: 1/1;
    max-width: 250px;
}

.socials-wrapper img,
.ratings-block p img {
    width: 20px;
    height: 20px;
}

.rating-wrapper img {
    max-width: 25px;
    height: 25px;
}

.review p {
    padding-bottom: 1rem;
}

.review:not(:last-child)::after {
    content: "";
    display: block;
    width: 70%;
    margin-inline: auto;
    background-color: var(--color-white);
    height: 1px;
}

.locations-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.other-grid-wrapper {
    grid-template-columns: repeat(4, 1fr);
}

.service-block img {
    max-width: 250px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.service-block {
    @supports not (aspect-ratio: 1/1) {
       position: relative;
       
       &::before {
         content: "";
         display: block;
         padding-top: calc((250/250) * 100%);
       }
       
       img {
           position: absolute;
           width: 100%;
           height: 100%;
           inset: 0;
           object-fit: cover;
       }
    }
    
    @supports (aspect-ratio: 1/1) {
       img {
           aspect-ratio: 250/250;
           height: auto;
           width: 100%;
           object-fit: cover;
       }
    }
}

/* Styles for the navbar */
#navbar {
transition: background-color 0.3s;
}

/* Styles for the navbar when scrolled */
#navbar.scrolled {
background-color: black;
}

.search-wrapper {
    background-color: var(--color-blue);
}

.filter-search {
    display: grid;
    grid-template-columns: 600px 1fr;
    width: 100%;
}

.filters {
    grid-column: 1/2;
    grid-row: 1/2;
}

.search-bar {
    grid-column: 2/3;
    grid-row: 1/2;
}

.search-bar .search {
    height: 40px;
}

#accordion-collapse #accordion-collapse-body-1 {
    z-index: 10;
}

.rotate {
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.rotate-180 {
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.venue-logo,
.promoter-logo,
.other-logo {
    max-width: 250px;
    
}

.band-types-list,
.genre-list {
    list-style-type: disc;
}

.band-types-list li::marker,
.genre-list li::marker {
    color: var(--color-white);
}

/* Admin Page */
.genres-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.text-danger,
.required {
    color: red;
}

.rating input {
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.rating input[type="radio"]:checked {
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.rating input[type="radio"] {
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.partially-filled-icon {
    position: relative;
    overflow: hidden;
    display: inline-block; /* Ensures the width is applied correctly */
    height: 25px;
}
.partially-filled-icon img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%; /* Ensure the image always covers the container */
    min-width: 25px;
}

.venues-textarea {
    height: 150px;
}

/* Dashboard */
  .collapsible-container {
    overflow-x: auto;
    border-radius: 0.5rem;
  }

  .collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .collapsible-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  .collapsible-content.show {
    max-height: 1000px; /* Adjust as needed */
    transition: max-height 0.3s ease-in;
  }

  /* Rotate icon for animation */
  .rotate-180 {
    transform: rotate(180deg);
  }

/* @media only screen and (max-width: 1920px) {} */

/* @media only screen and (max-width: 1680px) {} */

/* @media only screen and (max-width: 1366px) {} */

/* @media only screen and (max-width: 1199px) {} */

@media only screen and (max-width: 991px) {
    .filter-search {
        grid-template-columns: 450px 1fr;
    }
}

@media only screen and (max-width: 767px) {
    .filter-search {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 575px) {
    .filter-search {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .search-bar {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .filters {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #accordion-collapse #accordion-collapse-body-1 {
        width: 100%;
    }
}

/* @media only screen and (max-width: 360px) {} */
